body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}


.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: black;


}

.backGround {
    background-position: absolute;

    background-image: url(images/OIP.jpg);


}

h1 {
    padding: 8px;
    margin-left: 10px;
}

.connyImage {
    position: absolute;
    background-image: url(images/Conny3.png);
    background-position: center;
    height: 400px;
    width: 300px;
    background-size: cover;
    margin-left: 600px;

}



h2 {
    color: rgb(80, 11, 240);
    margin-left: 50px;
}

#text1 {

    color: rgb(80, 11, 240);
    position: absolute;
    margin-left: 85px;
    margin-top: 55px;
}

#text2 {

    color: rgb(80, 11, 240);
    position: absolute;
    margin-left: 140px;
    margin-top: 150px;
}

.listContainer {
    margin-top: 250px;
    position: absolute;
    color: blueviolet;
}